/* styles.css */

/* Main title of plots */
.plot-title {
  font-size: smaller;
  font-weight: normal;
  color: #ff69b4; /* Pink color */
  text-transform: uppercase; /* Convert text to uppercase */
}

/* X-axis label */
.axis-label-x {
  font-size: smaller;
  color: #333; /* Dark gray color */
}

/* Y-axis label */
.axis-label-y {
  font-size: smaller;
  color: #333; /* Dark gray color */
}

/* Legend */
.leg {
  font-size: smaller;
  color: #666; /* Medium gray color */
}

/* Points */
.point {
  fill: #ff69b4; /* Pink color */
}

/* Lines */
.line {
  stroke: #ff69b4; /* Pink color */
}
